name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  ci:
    name: Lint
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Load pip cache
        id: pip-cache
        uses: actions/cache@v4
        with:
          path: ${{ env.pythonLocation }}
          key: ${{ runner.os }}-pip-${{ hashFiles('./requirements/*.txt') }}
          restore-keys: ${{ runner.os }}-pip-

      - name: Install Dependencies
        run: pip install -r ./requirements/dev.txt
        if: steps.pip-cache.outputs.cache-hit != 'true'

      - name: Load pre-commit cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/pre-commit
          key: ${{ runner.os }}-pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pre-commit-

      - name: Run pre-commit hooks
        run: make lint
